@import "./button.css";
@import "./footer.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-family: "Permanent Marker", cursive;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, #71e8c9, #d86cf2, #cc7199);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 49s ease infinite;
  -moz-animation: AnimationName 49s ease infinite;
  -o-animation: AnimationName 49s ease infinite;
  animation: AnimationName 49s ease infinite;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand";
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
}

footer a {
  margin-top: 4px;
  color: #f4f4f4;
  text-decoration: none;
  font-family: "Permanent Marker";
}

.footer-corp {
  margin-top: 4px;
  color: rgba(94, 245, 245, 0.651);
  font-family: "Big Shoulders Stencil Text";
}

.logo {
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 42px;
}

.buttons {
  font-family: "Big Shoulders Stencil Text";
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
}
.button {
  font-size: 1rem;
  background-color: #6700eb;
  padding: 1rem 2rem;
  color: #f4f4f4;
  text-align: center;
}

.button.small {
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: #45009d;
}

.button-outline {
  border: 2px solid #6700eb;
  padding: 1rem 2rem;
  color: #6700eb;
  text-align: center;
}

.button-outline:hover {
  border-color: #45009d;
  color: #45009d;
}

pre {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  text-align: center;
}
code {
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1100px;
  margin-top: 3rem;
}

@media (max-width: 728px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.hero {
  width: 100%;
  color: #333;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
